<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @call.name %> &lt<%= @call.From %>&gt
</p>

<p>
  <strong>To:</strong> &lt<%= @call.To %>&gt
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'New Call', new_call_path %> |
<%= link_to 'Show all calls in progress', calls_path %>
