<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @call.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @call.from %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
